<div>
    <main style=" display: flex;
                  flex-direction: row;
                  justify-content: center;
                  width: 100%;
                  flex-wrap: wrap;
                  box-sizing: content-box;
    ">
        <div style="width: 100%;
                    background-color: ##COLOR;
                    text-align: center;
                    margin: 0;
        ">
            <h2 style=" font-size: 2.4em;
                    color: white;
                    padding: 10px;
                    margin: 0;
                    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
                    font-family: 'Poppins', sans-serif;
        ">
                ##DAY/365
            </h2>
        </div>
        <div style="width:100%; background-color: ##COLOR; min-height: 200px; margin: 0px;
            border-bottom-left-radius: 20%;
            border-bottom-right-radius: 20%;
        ">
            <h4 style="
                @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
                font-family: 'Poppins', sans-serif;
                text-align: center;
                padding: 20px;
                font-size: 2em;
                color: white;
                font-weight: bold;
            ">
                ##CONTENT
            </h4>
        </div>
    </main>
</div>